#container{
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-family: font-family: "Fredericka the Great", cursive;
    font-size: 20px;
    font-weight: bold;
    color: #85144b;
    text-align: center;
}

body{
  background-color: yellow;
}

#nav{
  font-family: 'Raleway', sans-serif;}


  a:link {
      color: #39CCCC;
  }
  a:hover{color: #0074D9;}
  a:active {
    color: #001f3f;
}
  a:visited {
    color: #3D9970;
}


p {
    font-family: font-family: 'Slabo 27px', serif;
    font-size: 15px;
    font-weight: normal;
    color: #111111;
    text-align: left;
}

ul{
  list-style-type: none;

}

img{
  border-style: none;
}
