#container{
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-family: 'Shrikhand', serif;
    font-size: 30px;
    font-weight: bold;
    color: #85144b;
    text-align: center;
}

body{
  background-color: #DDDDDD;
}

#nav{
  font-family: 'Raleway', sans-serif;}


  a:link {
      color: #39CCCC;
  }
  a:hover{color: #0074D9;}
  a:active {
    color: #001f3f;
}
  a:visited {
    color: #3D9970;
}


p {
    font-family: 'Slabo 27px', serif;
    font-size: 15px;
    font-weight: normal;
    color: #111111;
    text-align: left;
}

ul{
  list-style-type: none;

}

img{
  border-style: none;
}



/*Typography*/

body {
    font-family: 'Droid Serif', Helvetica, Arial, serif;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

/*Navigation styles*/

.navigation{
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

/*Image width*/

img {
    width: 100%;
}

/*Colors for different parts of page */

header {
  background: tomato;
}

footer {
  background: lightgreen;
}

article {
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

/*These styles activate when the page is larger than 800px wide*/

@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: black;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }

    /*These styles apply to the floated image technique*/

            /*========================

            img {
                width: 45%;
                float: left;
                margin-right: 10px;
            }

            .first {
                margin-top: 0;
            }

            =======================*/

    /*These styles apply to the Flexbox image technique */

    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    /*This code is for the first image attempt -- the object-fit property*/
    /*img {
        width: 45%;
        object-fit: contain;
    }*/

    .image {
        width: 45%;
        margin-right: 10px;
    }

    .story {
        width: 45%;
    }

    .first {
        margin-top: 0;
    }

    /*Styles go here*/
    *, *:before, *:after {
      box-sizing: border-box;
    }

    body {
        line-height: 1.45em;
    }

    #container {
        width: 95%;
        margin: 0 auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
    }

    h1 {
        font-size: 2em;
        margin-top: 0.5em;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }

    p {
        font-family: "Merriweather", Georgia, "Times New Roman", serif;
        font-size: 1em;
        margin-bottom: 0.8em;
    }

    aside p {
        font-size: 0.8em;
        line-height: 1.2em;
    }

    .caption {
        font-size: 0.7em;
        text-align: right;
        margin-top: 0;
    }

    .dateline {
        font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
        font-size: 0.7em;
        color: #aaa;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li a {
        font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
        text-decoration: none;
        margin-bottom: 1em;
    }

    #bar {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 0.7em;
        border-bottom: 1px solid #ccc;
    }

    .logo {
        border-radius: 5%;
        margin-left: 0.5em;
        height: 3em;
    }


    footer {
        border-top: 1px solid #ccc;
    }

    footer p {
        font-size: 0.8em;
    }

    a {
        color: #000;
    }

    a:hover {
        color: #bd5532;
    }

    img, .caption {
        display: none;
    }

    @media screen and (min-width: 600px) {

        #container {
            width: 80%;
        }

        img, .caption {
            display: block;
        }
    }

    @media screen and (min-width: 800px) {

        #container {
            width: 70%;
            max-width: 60em;
        }

        #bar {
            background-color: #ADD8E6;
            padding: 10px;
        }

        article {
            max-width: 40em;
            margin-left: 5em;
        }

        nav ul {
            justify-content: flex-end;
        }

        nav ul li {
            margin-left: 1.8em;
        }
    }
